.sc-view {
  cursor: default;
  overflow: hidden;
  position: absolute;
  margin: 0px;
  border: solid 0 transparent;
  user-select: none;
}

body {
  overflow: hidden;
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  /*font-weight: 300;*/
  font-size: 15px;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}


.sc1971 {
  cursor: auto;
}

.sc1972 {
  cursor: auto;
}

.app-view {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  cursor: default;
  overflow: hidden;
  position: absolute;
  margin: 0px;
  border: sold 0 transparent;
  user-select: none;
}

.app-line {
  z-index: 1;
  border-top: 1px solid;
}

.app-line.top {
  border-color: #e5aca9;
}

.app-line.top {
  left: 0px;
  right: 0px;
  top: 44px;
  height: 0px;
}

.app-line.bottom {
  border-color: #ccc;
}

.app-line.bottom {
  left: 0px;
  right: 0px;
  bottom: 44px;
  height: 0px;
}

.main-content {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 950px;
  min-height: 550px;
  width: 100%;
  height: calc(100% - 0px);
  z-index: 10;
  cursor: auto;
  overflow: hidden;
  margin: 0px;
  border: solid 0 transparent;
  user-select: none;
}


/* ------------------------ Header ---------------------------- */

.main-header {
  background-image: linear-gradient(#fdfdfd, #f9f9f9);
}

.display-header {
  left: 50%;
  height: 36px;
  overflow: hidden;
  margin-left: calc(-197.875px  / 2);
  border: solid 0 transparent;
}

.sc-label-view {
  text-align: left;
  white-space: pre-line;
}

.atv4.sc-label-view {
  color: #000;
}

.sc-huge-size {
  font-size: 21px;
}

.large-display-text {
  font-family: 'SFNSDisplay', 'SFNSText', 'Helvetica Neue', sans-serif;
}

.sc-label-view.sc-huge-size {
  line-height: 27px;
}

.navigation-control .navigation-control-date {
  margin-top: 4px;
  cursor: default;
  pointer-events: none;
}

.navigation-control .navigation-control-date {
  color: #333;
}

.label.sc-huge-size {
  font-weight: 300;
}

.windows.chrome .navigation-control .navigation-control-date {
  margin-top: 5px;
}

.navigation-control-date.large-display-text {
  left: 1px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
}

strong {
  font-weight: 550;
}

.arrow {
  cursor: pointer;
  width: 36px;
  top: 0px;
  height: 36px;
}

.previous-arrow {
  left: 0px;
}

.next-arrow {
  right: 0px;
}

.arrow-image {
  background-size: 168px 911px;
  background-image: url(images/packed-5@2x.png);
  background-repeat: no-no-repeat;
  width: 10px;
  top: 10px;
  height: 16px;
  position: absolute;
}

.display-header .previous-arrow .arrow-image {
  left: 19px;
  background-position: -156px -576px;
}

.display-header .next-arrow .arrow-image {
  left: 7px;
  background-position: -104px -690px;
}

/* ------------------------ End Header ---------------------------- */


.main-container div {
  position: absolute;
}

.month {
  border: 1px, solid white;
}

.num-rows5 {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.main-container {
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 44px;
  border-top: 1px solid #e5aca9;
  border-bottom: 1px solid #ccc;
  cursor: auto;
  overflow: hidden;
  margin: 0px;
  border: solid 0 transparent;
  user-select: none;
}

.headings {
  font-size: 15px;
  color: #acaeaf;
  top: 0px;
  height: 27px;
  line-height: 34px;
  left: 0px;
  right: 0;
}

.headings div{
  cursor: default;
  text-align: left;
  margin-left: 7px;
}

.month-body {
  min-height: 300px;
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  bottom: 0;
}

.row {
  height: 20%;
  left: 0;
  right: 0;
}

.row1 {
  top: 0;
}

.row2 {
  top: 20%;
}

.row3 {
  top: 40%;
}

.row4 {
  top: 60%;
}

.row5 {
  top: 80%;
}

.this-week-line {
  left: 3px;
  right: 0;
  top: 0;
  height: 3px;
  background-color: #fcd7d7;
  z-index: 1;
}

.col {
  width: 14.285714285714286%;
  top: 0;
  bottom: 0;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}

.col1 {
  left: 0%;
  right: auto;
}

.col2 {
  left: 14.285714285714286%;
}

.col3 {
  left: 28.571428571428572%;
}

.col4 {
  left: 42.857142857142858%;
}

.col5 {
  left: 57.142857142857144%;
}

.col6 {
  left: 71.42857142857143%;
}

.col7 {
  left: 85.714285714285716%;
}

div.col .cell-container {
  left: 3px;
  right: 3px;
  top: 0;
  bottom: 0;
  border-top: 1px solid #d8d9d9;
}

.today::before {
  content: '';
  display: inline-block;
  height: 3px;
  background: #f72f37;
  position: absolute;
  left: 3px;
  right: 3px;
  z-index: 2;
}

div.col.today .cell-container {
  border-top: 3px solid #fcd7d7;
}

.month-body div .col.today div {
  color: #ff3b30;
  font-weight: 500;
}

.off-month {
  color: #999;
}

.dt {
  top: 4px;
  left: 5px;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-rendering: optimizeLegibility;
}

.weekend div{
  background-color: #f7f7f7;
}
