html[Attributes Style] {
    -webkit-locale: "en-us";
}

html {
    -ms-content-zooming: none;
}

html {
    touch-action: none;
}

body {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.4;
}

.sc-hidden {
    display: none !important;
}

.sc-view {
  cursor: default;
  overflow: hidden;
  position: absolute;
  margin: 0px;
  border: solid 0 transparent;
  -moz-user-select: -moz none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sc-view:focus {
  outline: none;
}

.sc-panel {
    overflow: visible;
    z-index: 100;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
  -ms-content-zooming: none;
  text-rendering: optimizeLegibility;
}

body {
  background-color: white;
}

.sc-button-view {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.sc-button-view.sc-static-layout {
    margin: 0 4px;
}

.sc-view.sc-static-layout {
    position: relative;
}

.sc-pane {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.atv4.button {
    cursor: pointer;
    border: 0px none;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.app-line {
  z-index: 1;
  border-top: 1px solid;
}

.app-line.top {
  border-color: #e5aca9;
}

.app-line.top {
  left: 0px;
  right: 0px;
  top: 44px;
  height: 0px;
}

.app-line.bottom {
  border-color: #ccc;
}

.app-line.bottom {
  left: 0px;
  right: 0px;
  bottom: 44px;
  height: 0px;
}

.sc-label-view.sc-regular-size {
    font-size: 12px;
}


/* ------------------------ Header ---------------------------- */

.atv4.calendar.sc-main .main-header {
  background-image: -webkit-linear-gradient(#fdfdfd, #f9f9f9);
  background-image: linear-gradient(#fdfdfd, #f9f9f9);
}

.sc-label-view {
  text-align: left;
  white-space: pre-line;
}

.atv4.sc-label-view {
  color: #000;
}

.atv4.sc-huge-size {
  font-size: 21px;
}

.atv4.sc-label-view.sc-huge-size {
  line-height: 27px;
}

strong {
  font-weight: 500;
}

.next-arrow {
  right: 0px;
}

.display-header .next-arrow .arrow-image {
  left: 7px;
  background-position: -104px -690px;
}

/* ------------------------ End Header ---------------------------- */


.main-container {
  left: 0px;
  right: 0px;
  top: 44px;
  bottom: 44px;
  border-top: 1px solid #e5aca9;
  border-bottom: 1px solid #ccc;
  cursor: auto;
  overflow: hidden;
  margin: 0px;
  border: solid 0 transparent;
  user-select: none;
}

.headings {
  font-size: 15px;
  color: #acaeaf;
  top: 0px;
  height: 27px;
  line-height: 34px;
  left: 0px;
  right: 0;
}

.month-canvas.month .headings div {
  cursor: default;
  text-align: left;
  margin-left: 7px;
}

.atv4.icloud-controls.account-menu .sc-button-view.button .sc-button-label {
    text-align: right;
    padding-right: 18px;
}

.month .month-body {
  left: 0;
  right: 0;
  bottom: 0;
}

.row {
  height: 20%;
  left: 0;
  right: 0;
}

.row1 {
  top: 0;
}

.row3 {
  top: 40%;
}

.atv4 .large-display-text {
  /*font-family: 'SFNSDisplay', 'SFNSText', 'Helvetica Neue', sans-serif;*/
  font-family: 'Helvetica';
}

.row4 {
  top: 60%;
}

.row5 {
  top: 80%;
}

.month-canvas.month .month-body .row .this-week-line {
  left: 3px;
  right: 0;
  top: 0;
  height: 3px;
  background-color: #fcd7d7;
  z-index: 1;
}

div.col .cell-container {
  left: 3px;
  right: 3px;
  top: 0;
  bottom: 0;
  border-top: 1px solid #d8d9d9;
}

.today::before {
  content: '';
  display: inline-block;
  height: 3px;
  background: #f72f37;
  position: absolute;
  left: 3px;
  right: 3px;
  z-index: 2;
}

div.col.today .cell-container {
  border-top: 3px solid #fcd7d7;
}

.month-body div .col.today div {
  color: #ff3b30;
  font-weight: 500;
}

.atv4.calendar.month-canvas.month .month-body .off-month .cell-container {
  color: #999;
}

.dt {
  top: 4px;
  left: 5px;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-rendering: optimizeLegibility;
}

.month-canvas.month .month-body .row div.col.weekend .cell-container {
  background-color: #f7f7f7;
}


/* ---------------------------- Footer -------------------------*/

.atv4.calendar.right.main-content .main-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-flow: row nowrap;
  -moz-box-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.atv4.calendar.right.main-content .main-footer>* {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-flow: row nowrap;
  -moz-box-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.atv4.calendar.right.main-content .main-footer .last-section {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.atv4.sc-checkbox-view {
    color: #1a1a1a;
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
    text-align: left;
}

.atv4.sc-regular-size {
    font-size: 13px;
}

.borderless.sc-button-view.button {
  margin: 0px;
  cursor: pointer;
}

.sc-regular-size.borderless.button {
    height: 44px;
}


/*  ----------------------- Footer Button Label ---------------------- */

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}


/* ------------------------------New Event Button --------------- */

.sc-button-label {
    vertical-align: top;
}

.sc-button-view label {
    position: relative;
    display: block;
    line-height: 21px;
    text-align: center;
}

.atv4.button .sc-button-label {
    cursor: inherit;
    position: relative;
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px 5px 0px 5px;
}

.sc-regular-size.button .sc-button-label {
  font-size: 13px;
  min-height: 27px;
  line-height: 26px;
}

.atv4.borderless.sc-button-view.button .sc-button-label {
  cursor: inherit;
  top: 50%;
  color: #167efb;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.atv4.sc-regular-size.borderless.button .sc-button-label {
  font-size: 17px;
  line-height: 24px;
  margin-top: -12px;
  padding: 0px 0px 0px 0px;
}

.main-footer .calendar.button.borderless .sc-button-label {
    color: #ff3b30;
}

.webkit .sc-regular-size.borderless.button .sc-button-label {
    line-height: 25px;
}


/* ------------------------------- Image ----------------------------*/

.sc-view img {
    border: none;
}

.sc-button-view img {
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    top: -2px;
    left: -2px;
}

.button .add-event-icon {
    background-image: url(images/background.png);
    background-position: -78px -503px;
    background-repeat: no-repeat;
}

.button .add-event-icon:hover {
    background-image: url(images/background.png);
    background-position: -26px -529px;
    background-repeat: no-repeat;
}

.sc-button-label img {
    margin-right: 4px;
}

.sc-button-view.button .sc-button-label img {
    top: 1px;
    left: 0px;
    vertical-align: baseline;
}

.button.borderless img.icon {
    width: 26px;
    height: 26px;
}

.atv4.sc-pane.sc-picker.sc-panel.perfectBottom:after, .atv4.sc-pane.sc-picker.sc-panel.perfectTop:after, .atv4.sc-pane.sc-picker.sc-panel.perfectRight:after, .atv4.sc-pane.sc-picker.sc-panel.perfectLeft:after {
    border: 1px solid #d6d6d6;
    border: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 4px;
    right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    content: '';
}

.atv4.sc-pane.sc-panel:before {
    position: absolute;
    top: -5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    content: '';
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15), 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.sc-pane.sc-picker.sc-panel:before {
    top: -9px;
    padding-top: 9px;
    padding-bottom: 9px;
}

/*---------------------- New Event Bottom Pointer ---------------------*/

.sc-pane.sc-panel.sc-picker .perfectLeft {
    position: absolute;
    width: 25px;
    height: 51px;
    top: 20px;
    right: -25px;
}

.sc-picker .perfectTop {
    position: absolute;
    width: 51px;
    height: 25px;
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
}

.atv4.sc-pane.sc-picker .sc-pointer {
    background-image: url(images/background.png);
    background-position: -134px -690px;
    background-repeat: no-repeat;
    position: absolute;
    width: 33px;
    height: 15px;
    z-index: 2;
}

.sc-pointer.perfectTop {
    bottom: -24px;
    left: 50%;
    margin-left: -17px;
}

.sc-pointer.perfectTop.extra-right {
    right: 6px;
    left: auto;
    margin-left: 0px;
}


/* ------------------------------- New Even Content ---------------- */

.sc-pane.sc-panel>.sc-view {
    border: 0px #444 solid;
}

.sc-picker.sc-panel>.sc-view {
    z-index: 1;
}


.month div {
    position: absolute;
}

.sc-panel.pop-over .picker-contentView {
    overflow: visible;
}

.event-inspector-bottom {
    border-top: 1px solid #d9d9d9;
}

.month .col1, .safari .month .drag-view.col1 {
    width: 14.285714285714286%;
    left: 0%;
    right: auto;
}

.month .col7, .safari .month .drag-view.col7 {
    width: 14.285714285714286%;
    left: 85.714285714285716%;
    right: auto;
}

.month-events .sc-collection-item .title, .month-events .sc-collection-item .time, .month-events .sc-collection-item .end-time {
    position: static;
    display: block;
    padding-top: 3px;
    height: 18px;
    z-index: 13;
}

.month-events .sc-collection-item .title {
    margin-left: 19px;
    margin-right: 4px;
}

.month-events .sc-collection-item.timed .title {
    margin-right: 0;
}

.month-events .multi-row, .month-events .timed, .month-events .allday {
    position: absolute !important;
    overflow: hidden;
    line-height: 11px;
}

.month.num-rows5 .row1, .month.num-rows5 .row2, .month.num-rows5 .row3, .month.num-rows5 .row4, .month.num-rows5 .row5, .month.num-rows5 .row6 {
    height: 20%;
}

.month.num-rows5 .row2 {
  top: 20%;
}

/* --------------------------- New Event Right Buttons ------------- */

.text-align-right {
    text-align: right;
}

.calendar.vertical-align-middle {
    vertical-align: middle;
}

.sc-button-view.button.sc-static-layout {
    margin-left: 6px;
    margin-right: 6px;
}

.calendar.action-button-separator {
    display: inline-block;
    width: 1px;
    background-color: #dad9d4;
}

.event-inspector-bottom .action-button-separator {
    height: 20px;
    right: 11px;
}

.windows.webkit .atv4.sc-text-field-view.sc-huge-size {
    line-height: 29px;
}

.sc-text-field-view {
    border: none;
    overflow: visible;
    background: white;
}

.atv4.sc-text-field-view {
    color: #1a1a1a;
    border: 0px none;
    vertical-align: top;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sc-text-field-view.sc-huge-size {
    font-size: 21px;
    line-height: 27px;
}

.calendar.inspector-title {
    font-size: 21px;
    color: #2B2B2B;
}

.sc-huge-size.text-field {
    min-height: 31px;
    max-height: 31px;
}

.sc-text-field-view.sc-huge-size {
    line-height: 29px;
}

.sc-text-field-view .border {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.webkit .sc-text-field-view .border {
    -webkit-appearance: textfield;
}

.atv4.sc-text-field-view .border {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 2px;
    -webkit-appearance: none !important;
    -webkit-transition-property: box-shadow, border;
    -moz-transition-property: box-shadow, border;
    transition-property: box-shadow, border;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    transition-duration: 0.35s;
    box-shadow: inset 0px 1px 0px 0px #fafafa;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fafafa;
    outline: none;
}

.sc-text-field-view .padding {
    top: 0px;
    left: 3px;
    bottom: 0px;
    right: 3px;
    position: absolute;
}

.atv4.sc-text-field-view .padding {
    left: 7px;
    right: 8px;
    top: 2px;
    bottom: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    line-height: inherit;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-font-smoothing: inherit;
}

body textarea, body input {
    font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
}

.windows.chrome .atv4.calendar.navigation-control .navigation-control-date {
  margin-top: 5px;
}

.sc-text-field-view input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    right: 0px;
    display: block;
    background: transparent;
    vertical-align: middle;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.sc-text-field-view input {
    color: #1a1a1a;
}

.atv4.calendar.navigation-control .navigation-control-date {
  margin-top: 4px;
  cursor: default;
  pointer-events: none;
}

.padding .field {
    font-size: inherit;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    line-height: inherit;
}

.atv4.square.button {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #fafafa;
    background-color: #fafafa;
}

.atv4.calendar.navigation-control .navigation-control-date {
  color: #333;
}

.atv4.calendar.label.sc-huge-size {
  font-weight: 300;
}

.sc-regular-size.square.button {
    height: 26px;
    max-height: 26px;
    min-height: 26px;
    min-width: 68px;
}

.sc-select-view.calendar-selector-popup.color-menu-editable-inspector {
    min-width: 30px;
    max-height: 31px;
}

.square.button .sc-button-label {
    color: #167efb;
}

.square.button .sc-button-label {
    font-size: 15px;
    line-height: 24px;
}

.calendar-popup.sc-select-view .sc-button-label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.square.button .sc-button-label {
    line-height: 25px;
}

.sc-select-view .selected-color {
    position: absolute;
    left: 5px;
    top: 7px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.color-menu-editable-inspector .selected-color {
    top: 10px;
}

.swatch-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sc-text-field-view.sc-regular-size {
    font-size: 15px;
    line-height: 22px;
}

.sc-text-field-view.sc-regular-size.text-field {
    min-height: 26px;
    max-height: 26px;
}

.hint {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #b3b3b3;
    line-height: inherit;
}

.sc-label-view.sc-regular-size {
    line-height: 17px;
}

.atv4.calendar.sc-view.sc-label-view.inspector-label.text-wrapping, .atv4.calendar.inspector-label {
    font-weight: 500;
    color: #bbbbbb;
}

.sc-checkbox-view.sc-regular-size {
    line-height: 17px;
}

.sc-checkbox-view.sel .button {
    background-size: 168px 911px;
    background-image: url(images/background.png);
    background-position: -144px -610px;
    background-repeat: no-repeat;
}

.sc-checkbox-view .button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0px;
    background-image: url(images/background.png);
    background-position: 0px -626px;
    background-repeat: no-repeat;
}

.atv4.sc-checkbox-view .label {
    display: inline-block;
    padding-left: 20px;
    color: #1a1a1a;
}

.event-time-fields {
    overflow: visible;
}

.atv4.dropdown.button {
    cursor: default;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #fafafa;
    background-color: #fafafa;
}

.event-inspector-panel .scroll .time-meridian {
    float: left;
    position: relative;
    margin-right: 4px;
}

.event-inspector-panel .scroll .select-field-margin {
    margin-left: 0;
}

.sc-regular-size.dropdown.button {
    min-width: 68px;
    height: 26px;
    max-height: 26px;
    min-height: 26px;
    padding-right: 22px;
}

.dropdown.button .sc-button-label {
    cursor: default;
    color: #363636;
    padding: 0px 0px 0px 1px;
    text-align: left;
    min-height: 0px;
}

.dropdown.button .sc-button-label {
    font-size: 15px;
    line-height: 24px;
}

.dropdown.button .sc-button-label {
    line-height: 25px;
}

.atv4.dropdown.button:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 6px;
    width: 16px;
    height: 16px;
    background-image: url(images/background.png);
    background-position: -48px -690px;
    background-repeat: no-repeat;
}

.atv4.sc-small-size.borderless.button .sc-button-label {
    font-size: 15px;
    line-height: 20px;
    margin-top: -9px;
    padding: 0px 0px 0px 0px;
}

.windows.webkit .atv4.sc-small-size.borderless.button .sc-button-label {
    line-height: 21px;
}

.event-inspector-panel .note-field {
    -webkit-transform: translateZ(0);
}

.sc-text-field-view textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    right: 0px;
    display: block;
    background: transparent;
    vertical-align: middle;
    resize: none;
    overflow: auto;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.atv4.sc-huge-size.borderless.button {
    height: 54px;
}

.atv4.icloud-controls.app-switcher>.sc-button-view.button {
    margin-left: -1px;
    margin-top: 1px;
}

.calendar .atv4.calendar.app-switcher .button, .calendar .atv4.calendar.account-menu.button {
    color: #f92e31;
}

.atv4.sc-huge-size.button .sc-button-label {
    font-size: 17px;
    min-height: 30px;
    line-height: 30px;
}

.atv4.icloud-controls.app-switcher .sc-button-label {
    left: 66px;
    text-align: left;
}

.atv4.sc-huge-size.borderless.button .sc-button-label {
    font-size: 21px;
    line-height: 30px;
    margin-top: -15px;
    padding: 0px 0px 0px 0px;
}

.calendar .atv4.calendar.app-switcher .button .sc-button-label, .calendar .atv4.calendar.account-menu.button .sc-button-label {
    color: inherit;
}

.windows.webkit .atv4.sc-huge-size.borderless.button .sc-button-label {
    line-height: 31px;
}

.atv4.icloud-controls.app-switcher .icloud-text.image {
    position: absolute;
    width: 59px;
    height: 17px;
    top: 19px;
    background-image: url(images/background.png);
    background-position: 0px -576px;
    background-repeat: no-repeat;
}

.atv4.calendar.navigation-control .arrow {
    cursor: pointer;
}

.atv4.calendar.navigation-control .arrow .arrow-image {
    width: 10px;
    top: 10px;
    height: 16px;
    position: absolute;
}

.atv4.calendar.navigation-control .previous-arrow .arrow-image {
    left: 19px;
    background-image: url(images/background.png);
    background-position: -156px -503px;
    background-repeat: no-repeat;
}

.atv4.calendar.navigation-control .next-arrow .arrow-image {
    left: 7px;
    background-image: url(images/background.png);
    background-position: -114px -690px;
    background-repeat: no-repeat;
}

.month-canvas.month .month-body {
    min-height: 300px;
    top: 27px;
}

.month-canvas.month .month-body, .overflow .number {
    -webkit-text-stroke: 1px rgba(255,255,255,0.01);
}

.month .col {
    top: 0;
    bottom: 0;
}

.month .col2, .safari .month .drag-view.col2 {
    width: 14.285714285714286%;
    left: 14.285714285714286%;
    right: auto;
}

.month .col3, .safari .month .drag-view.col3 {
    width: 14.285714285714286%;
    left: 28.571428571428572%;
    right: auto;
}

.month .col4, .safari .month .drag-view.col4 {
    width: 14.285714285714286%;
    left: 42.857142857142858%;
    right: auto;
}

.month .col5, .safari .month .drag-view.col5 {
    width: 14.285714285714286%;
    left: 57.142857142857144%;
    right: auto;
}

.month .col6, .safari .month .drag-view.col6 {
    width: 14.285714285714286%;
    left: 71.42857142857143%;
    right: auto;
}

.month .headings div {
    text-align: center;
}

.atv4.calendar.right.main-content .main-footer .first-section {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.atv4.calendar.right.main-content .main-footer .middle-section {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 9px;
    height: 28px;
    white-space: nowrap;
}

.atv4.sc-small-size {
    font-size: 11px;
}

.atv4.sc-small-size.borderless.button {
    height: 33px;
}

.month-events {
    min-height: 302px;
    overflow: visible;
    z-index: 10;
}

.month-events .container {
    height: 18px;
    position: absolute;
    right: 0;
    left: 1px;
    overflow: hidden;
}

.month-events div.container div {
    white-space: nowrap;
    z-index: -1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.month-events .sc-collection-item .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 2px;
}


/* ------------------------------ Events on Calendar  ------------------*/

w .event-canvas .event-dot, .event-dot {
    width: 6px;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    left: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.month-events .sc-collection-item.sel .bg {
    opacity: 1;
}

.month-events div.timed.single-day div.bg {
    display: none;
}

.month-events div.timed.single-day.sel div.bg {
    display: block;
}

.month-events .sc-collection-item .event-dot {
    left: 7px;
}

.month-events .sc-collection-item.sel .event-dot {
    background-color: #fff !important;
    opacity: 1;
}

.month-events .sc-collection-item.timed .time {
    float: right;
    text-overflow: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 6px;
    text-align: right;
}

.month-events .sc-collection-item.sel .title, .month-events .sc-collection-item.sel .time, .month-events .sc-collection-item.sel .end-time {
    color: #fff !important;
    text-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.windows.chrome .month-events .sc-collection-item .title, .windows.chrome .month-events .sc-collection-item .time, .windows.chrome .month-events .sc-collection-item .end-time {
    padding-top: 4px;
}

.atv4.calendar.month-events div.timed div .time, .atv4.calendar.month-events div.timed div .end-time {
    font-size: 13px;
}

.atv4.calendar.month-events .sc-collection-item .title {
    font-size: 13px;
    font-weight: 500;
}

.windows .atv4.calendar.month-events .sc-collection-item .title {
    font-weight: 300;
}

.month.num-rows5 .row4 {
    top: 60%;
}

.month-events div.timed.single-day div.bg {
    display: none;
}

.atv4.sc-pane.sc-picker .sc-pointer.perfectLeft {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 32px;
    right: -24px;
}
